<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python</li>
  <li>R</li>
  <li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>NumPy</li>
  <li>Pandas</li>
  <li>Matplotlib</li>
</ol>

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter</td>
  </tr>
  <tr>
    <td>R Studio</td>
  </tr>
    <tr>
    <td>Apache Spark</td>
  </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python:</h3>
a=(12*4)+9
<br>
b=(20/4)+50
<br>
c=(13-4)+5

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
mins=120
hrs=mins/60
print(mins,"minutes = ",hrs,"hrs")

120 minutes =  2.0 hrs

<b>Objectives:</b>
<ul>
  <li>Create a Jupyter Notebook</li>
  <li>Insert code and markdown cells</li>
  <li>Share your notebook through GitHub</li>
</ul>

<h2>Author</h2>
Lovish